/venv/
/.idea/
/service/conqueror/settings/database.yaml
/service/conqueror/settings/local.py
/service/temp/
/celerybeat.pid
/celerybeat-schedule
/beat.log
/deploy_tools/deploy_local.yaml
/sockets/
/service/conqueror/cli/cli_local.py
/service/conqueror/jobs_from_live_base/
/service/conqueror/single_job_download_from_live/
